.post {
    color: black;
    background-color: rgb(235, 235, 235);
    width: 250px;
}

.post:hover {
    box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.2);
}

.block-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.under-post {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}

.des-and-likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-and-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-likes {
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.btn-likes:hover {
    transform: scale(1.1);
    border: 1px solid magenta;
    box-shadow: 0px 0px 20px 0px rgba(255, 0, 255, 0.3);
    border-radius: 20px;
}

p {
    font-size: 1.3rem;
    font-weight: 700;
    color: rgb(1 61 109);
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(95, 95, 95);
}

h6 {
    font-size: 0.8rem;
    font-weight: 400;
    color: gray;
}

.post-link {
    text-decoration-line: none;
    border: 2px solid rgba(1 ,61 ,109, 0);
}

.post-link:hover {
    border: 2px solid rgb(1 61 109);
}
.post-link:active {
    border: 2px solid blueviolet;
}